{% extends "page-with-nav.html" %}

{% block head %}
<title>Accounts</title>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2 mx-auto w-full max-w-screen-md px-2 py-4">
    <div class="flex items-center">
        <h1 class="heading-1">Accounts</h1>
        <a href="/new-account" class="button ml-auto">New account</a>
    </div>
    <hr />
    <!-- created message -->
    {% if created %}
    <section class="card bg-success text-success-contrast">
        Account created.
    </section>
    {% endif %}
    <!-- accounts list -->
    {% if let Some(accs) = accounts %}
    {% for account in accs %}
    <section class="card">
        <h2 class="heading-3">{{ account.name }}</h2>
    </section>
    {% endfor %}
    {% endif %}
    <!-- error message -->
    {% if accounts.is_none() %}
    <section class="card bg-danger text-danger-contrast">
        Something went wrong while loading this page. Please try again later.
    </section>
    {% endif %}
</div>
{% endblock %}