{% extends "page-with-nav.html" %}

{% block head %}
<title>Accounts</title>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2 mx-auto w-full max-w-screen-md px-2 py-4">
  <h1 class="heading-1 flex items-center">
    <span>Accounts</span>
    <a href="/new-account" class="button ml-auto">New account</a>
  </h1>
  <hr class="border-t-2 border-dashed py-1" />
  <!-- created message -->
  {% if created %}
  <section class="card bg-success text-success-contrast">
    Account created.
  </section>
  {% endif %}
  <!-- error message -->
  {% if accounts.is_none() %}
  <section class="card bg-danger text-danger-contrast">
    Something went wrong while loading this page. Please try again later.
  </section>
  {% endif %}
  <!-- accounts list -->
  {% if let Some(accs) = accounts %}
  {% for (account, owners) in accs %}
  <section class="card grid grid-cols-[auto_1fr] md:grid-cols-[auto_1fr_auto_1fr] gap-1">
    <h2 class="heading-3 col-span-2 sm:col-span-4">{{ account.name }}</h2>
    <!-- owners -->
    <span class="icon self-center">
      {% include "icons/users.svg" %}
    </span>
    <span class="col-span-1 md:col-span-3 text-ellipsis overflow-hidden text-nowrap">
      {% for owner in owners %}
      {{ owner.email }}{% if !loop.last %},{% endif %}
      {% endfor %}
    </span>
  </section>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}