{% extends "page-with-nav.html" %}

{% block head %}
<title>New asset</title>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2 mx-auto w-full max-w-screen-md px-2 py-4">
  <h1 class="heading-1">New asset</h1>
  <hr class="border-t-2 border-dashed py-1" />
  {% if csrf_token.is_none() %}
  <section class="card bg-danger text-danger-contrast">
    Something went wrong while loading this page. Please try again later.
  </section>
  {% endif %}
  {% if let Some(csrf_token) = csrf_token %}
  <form class="flex flex-col gap-2" method="POST" action="/new-asset">
    <!-- essential details -->
    <section class="card grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4">
      <!-- label -->
      <div class="flex flex-col w-full gap-1 col-span-1 md:col-span-2">
        <label for="label" class="label">Label:</label>
        <input id="label" name="label" class="input w-full" type="text" placeholder="Label.." minlength="1"
          maxlength="200" required />
      </div>
      <!-- ticker -->
      <div class="flex flex-col w-full gap-1">
        <label for="ticker" class="label">Ticker:</label>
        <input id="ticker" name="ticker" class="input w-full" type="text" placeholder="Ticker.." minlength="1"
          maxlength="8" required />
      </div>
      <!-- symbol -->
      <div class="flex flex-col w-full gap-1">
        <label for="symbol" class="label">Symbol:</label>
        <input id="symbol" name="symbol" class="input w-full" type="text" placeholder="Symbol.." minlength="1"
          maxlength="8" />
      </div>
      <!-- precision -->
      <div class="flex flex-col w-full gap-1">
        <label for="precision" class="label">Precision:</label>
        <input id="precision" name="precision" class="input w-full" type="number" placeholder="Precision.." min="0"
          max="4" value="0" required />
      </div>
      <!-- type -->
      <div class="flex flex-col w-full gap-1">
        <label for="atype" class="label">Asset type:</label>
        <select id="atype" name="atype" class="input w-full" type="text" required>
          <option value="currency">Currency</option>
        </select>
      </div>
    </section>
    <!-- actions -->
    <section class="card flex justify-end gap-2">
      <a href="/assets" class="button-outline">Cancel</a>
      <button class="button" type="submit">Create</button>
    </section>
    <input name="csrf" value="{{ csrf_token.id }}" hidden />
  </form>
  {% endif %}
  {% if let Some(error) = error %}
  <section class="card bg-danger text-danger-contrast">
    {% match error %}
    {% when AssetCreationError::InvalidLabel %}
    Invalid label. Please input 1-200 characters.
    {% when AssetCreationError::InvalidTicker %}
    Invalid ticker. Please input 1-8 characters.
    {% when AssetCreationError::InvalidSymbol %}
    Invalid symbol. Please input 1-8 characters.
    {% when AssetCreationError::InvalidPrecision %}
    Invalid precision. Please input a number between 0 and 4 (inclusive).
    {% when AssetCreationError::InvalidCsrf %}
    Seems like your session expired. Please try again later.
    {% when AssetCreationError::AlreadyExists %}
    Asset ticker is already registered. Please enter a different one.
    {% when AssetCreationError::Unknown %}
    Something went wrong. Please try again later.
    {% endmatch %}
  </section>
  {% endif %}
</div>
{% endblock %}