{% extends "page-with-nav.html" %}

{% block head %}
<title>Currencies and assets</title>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2 mx-auto w-full max-w-screen-md px-2 py-4">
    <h1 class="heading-1">Currencies & Assets</h1>
    <hr />
    <h2 class="heading-2">Currencies</h2>
    {% if currencies_error %}
    <section class="card bg-danger border-danger-darker">
        Something went wrong while loading this page. Please try again later.
    </section>
    {% endif %}
    {% for currency in currencies %}
    <section class="card grid grid-flow-row grid-cols-[auto_1fr] sm:grid-cols-[auto_1fr_auto_1fr] gap-x-1">
        <h3 class="heading-3 col-span-2 sm:col-span-4">{{ currency.label }}</h3>
        <!-- ticker -->
        <strong>Ticker:</strong>
        <span>{{ currency.ticker|upper }}</span>
        <!-- symbol -->
        <strong>Symbol:</strong>
        {% match currency.symbol %}
        {% when Some with (currency) %}
        <span>{{ currency }}</span>
        {% when None %}
        <span>N/A</span>
        {% endmatch %}
        <!-- number of decimals -->
        <strong>Number of decimals:</strong>
        <span>{{ currency.precision }}</span>
    </section>
    {% endfor %}
</div>
{% endblock %}