{% extends "page-with-nav.html" %}

{% block head %}
<title>Currencies and assets</title>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2 mx-auto w-full max-w-screen-md px-2 py-4">
  <h1 class="heading-1 flex items-center">
    <span>Currencies & Assets</span>
    <a href="/new-asset" class="button ml-auto">New asset</a>
  </h1>
  <hr class="border-t-2 border-dashed py-1" />
  <!-- created message -->
  {% if created %}
  <section class="card bg-success text-success-contrast">
    Asset created.
  </section>
  {% endif %}
  <!-- errors -->
  {% if currencies.is_none() %}
  <section class="card bg-danger text-danger-contrast">
    Something went wrong while loading this page. Please try again later.
  </section>
  {% endif %}
  <!-- currencies list -->
  {% if let Some(currencies) = currencies %}
  <h2 class="heading-2">Currencies</h2>
  {% for currency in currencies %}
  <section class="card grid grid-flow-row grid-cols-[auto_1fr] sm:grid-cols-[auto_1fr_auto_1fr] gap-1">
    <h3 class="heading-3 col-span-2 sm:col-span-4 flex items-center gap-1">
      <span>{{ currency.label }}</span>
      {% if currency.id == principal.favorite_asset %}
      <span class="icon">
        {% include "icons/star.svg" %}
      </span>
      {% endif %}
    </h3>
    <!-- ticker -->
    <strong class="flex gap-1 items-center">
      <span class="icon">
        {% include "icons/fingerprint.svg" %}
      </span>
      <span>Ticker:</span>
    </strong>
    <span>{{ currency.ticker|upper }}</span>
    <!-- symbol -->
    <strong class="flex gap-1 items-center">
      <span class="icon">
        {% include "icons/at-symbol.svg" %}
      </span>
      <span>Symbol:</span>
    </strong>
    <span>
      {% if let Some(symbol) = currency.symbol %}
      {{ symbol }}
      {% else %}
      N/A
      {% endif %}
    </span>
    <!-- number of decimals -->
    <strong class="flex gap-1 items-center">
      <span class="icon">
        {% include "icons/hashtag.svg" %}
      </span>
      <span>Number of decimals:</span>
    </strong>
    <span>{{ currency.precision }}</span>
  </section>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}