<div class="flex flex-col mt-8 w-[22rem] mx-auto max-w-[90%] gap-2">
    <h1 class="heading-1">Sign in</h1>
    <form method="POST" action="/login" class="flex flex-col gap-4 card">
        <div class="flex flex-col gap-1">
            <label for="email" class="label">Email:</label>
            <input id="email" name="email" type="text" placeholder="Email.." class="input" />
        </div>
        <div class="flex flex-col gap-1">
            <label for="password" class="label">Password:</label>
            <input id="password" name="password" type="password" placeholder="Password.." class="input" />
        </div>
        <button type="submit" class="button button-lg">Sign in</button>
        <span class="text-center">Don't have an account? <a class="link" href="/register">Sign up now.</a></span>
    </form>
    {% if let Some(error) = error %}
    <section class="card bg-danger text-danger-contrast">
        {% match error %}
        {% when LoginError::InvalidCredentials %}
        Invalid user credentials.
        {% when LoginError::Unknown %}
        Something went wrong. Please try again later.
        {% endmatch %}
    </section>
    {% endif %}
</div>
