{% extends "page.html" %}

{% block head %}
<title>Sign in</title>
{% endblock %}

{% block content %}
<div class="flex flex-col mt-8 w-80 mx-auto max-w-[90%] gap-2">
    <h1 class="heading-1">Sign in</h1>
    <form method="POST" action="/login" class="flex flex-col gap-2 card">
        <input name="email" type="email" placeholder="Email.." class="input" required />
        <input id="password" name="password" type="password" placeholder="Password.." class="input"
            required />
        <button type="submit" class="button">Sign in</button>
        <span class="text-center">Don't have an account? <a class="link" href="/register">Sign up now.</a></span>
    </form>
    {% if let Some(error) = error %}
    <section class="border-2 card bg-danger border-danger-darker">
        {% match error %}
        {% when LoginError::InvalidCredentials %}
        Invalid user credentials!
        {% when LoginError::Unknown %}
        Something went wrong, please try again later!
        {% endmatch %}
    </section>
    {% endif %}
</div>
{% endblock %}