{% import "partials/asset-list.html" as asset_list %}

<div class="flex flex-col mt-8 w-[22rem] mx-auto max-w-[90%] gap-2">
  <h1 class="heading-1">Sign up</h1>
  {% if assets.is_none() %}
  <section class="card bg-danger text-danger-contrast">
    Something went wrong while loading this page. Please try again later.
  </section>
  {% endif %}
  {% if let Some(assets) = assets %}
  <form method="POST" action="/register" class="flex flex-col gap-4 card">
    <!-- email -->
    <div class="flex flex-col gap-1">
      <label for="email" class="label">Email:</label>
      <input name="email" type="email" placeholder="Email.." class="input" required />
    </div>
    <!-- password -->
    <div class="flex flex-col gap-1">
      <label for="password" class="label">Password:</label>
      <input id="password" name="password" type="password" placeholder="Password.." minlength="12" class="input"
        required />
    </div>
    <!-- confirm password -->
    <div class="flex flex-col gap-1">
      <label for="confirm-password" class="label">Confirm password:</label>
      <input id="confirm-password" name="confirm_password" type="password" placeholder="Confirm password.."
        minlength="12" class="input" required />
    </div>
    <!-- favorite asset -->
    <div class="flex flex-col gap-1">
      <label for="favorite-asset" class="label">Favorite asset:</label>
      <select id="favorite-asset" name="favorite_asset" class="input">
        {% let selected_asset = "" %}
        {% call asset_list::assets(selected_asset) %}
      </select>
    </div>
    <!-- timezone -->
    <div class="flex flex-col gap-1">
      <label for="timezone" class="label">Timezone:</label>
      <select id="timezone" name="timezone" class="timezone input" required>
        {% for timezone in timezones %}
        <option value="{{ timezone }}">{{ timezone|under_to_space|slash_to_pipe }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="button button-lg">Sign up</button>
    <span class="text-center">Already have an account? <a class="link" href="/login">Sign in now.</a></span>
  </form>
  {% endif %} <!-- if let Some(assets) = assets -->
  {% if let Some(error) = error %}
  <section class="card bg-danger text-danger-contrast">
    {% match error %}
    {% when RegistrationError::InvalidEmail %}
    Invalid email.
    {% when RegistrationError::PasswordTooShort %}
    Password is too short. Please enter at least 12 characters.
    {% when RegistrationError::PasswordsMismatch %}
    Passwords do not match.
    {% when RegistrationError::EmailTaken %}
    The email address provided is already registered.
    {% when RegistrationError::InvalidFavoriteAsset %}
    Invalid favorite asset.
    {% when RegistrationError::Unknown %}
    Something went wrong. Please try again later.
    {% endmatch %}
  </section>
  {% endif %}
</div>
