<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="pluto: a personal finance manager" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ surl "apple-touch-icon.png" }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ surl "favicon-32x32.png" }}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ surl "favicon-16x16.png" }}" />
  <link rel="manifest" href="{{ surl "site.webmanifest" }}" />
  <link rel="stylesheet" href="{{ surl "styles.css" }}" />

  <script defer src="{{ surl "alpine.min.js" }}"></script>

  <title>{{ block "page:title" . }} Title {{ end }}</title>
</head>