:root {
  --width-auth-form: 22.5rem;
  --max-width-auth-form: 90%;
  --gap-auth-form: 0.75rem;
  --padding-auth-form: 1.5rem;
  --margin-bottom-auth-form-title: 2.25rem;
  --margin-top-auth-form-secondary-action: 0.75rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: var(--width-auth-form);
  max-width: var(--max-width-auth-form);

  gap: var(--gap-auth-form);
  padding: var(--padding-auth-form);

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.auth-form > * {
  width: 100%;
  text-align: center;
}

.auth-form > .title {
  margin-bottom: var(--margin-bottom-auth-form-title);
}

.auth-form > .secondary-action {
  margin-top: var(--margin-top-auth-form-secondary-action);
}
