@import "/styles/clear.css";
@import "/styles/typography.css";
@import "/styles/forms.css";
@import "/styles/card.css";

:root {
  --background-default: #efefef;
  --background-elevated: #ffffff;
  --background-primary: #0f1108;

  --color-primary: #ffffff;

  --font-size-text: 1rem;

  --border-radius-m: 0.5rem;
  --border-radius-l: 1rem;
  --border-size-m: 2px;
  --spacing-m: 0.5rem;
  --spacing-l: 0.75rem;
  --spacing-xl: 1rem;
  --spacing-xxl: 1.25rem;
  --spacing-xxxl: 1.5rem;

  --shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

body {
  background-color: var(--background-default);
}

html {
  font-size: var(--font-size-text);
  font-family: "Open Sans", sans-serif;
}
