{% extends "page.html" %} 

{% block head %} 
  <title>Sign In</title>
  <link rel="stylesheet" href="/static/auth-pages.css" />
{% endblock %} 

{% block content %}
  <form class="auth-form card" action="/login" method="post">
    <h4 class="title">SIGN IN</h4>
    <input name="email" type="email" placeholder="email.." required />
    <input name="password" type="password" placeholder="password.." required />
    <button type="submit">sign in</button>
    <a class="secondary-action" href="/register">Dont have an account?</a>
  </form>
{% endblock %}
