:root {
  --form-size-m: 22.5rem;
}

input,
button {
  outline: none;
  border-radius: var(--border-radius-m);
}

button {
  padding: var(--spacing-l) var(--spacing-l);
  color: var(--color-primary);
  background-color: var(--background-primary);
}

button:hover {
  cursor: pointer;
}

input {
  padding: var(--spacing-m) var(--spacing-l);
  background-color: var(--background-default);
  border: var(--border-size-m) solid var(--background-default);
}

input:focus {
  border: var(--border-size-m) solid var(--background-primary);
}

form.column {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  gap: var(--spacing-m);
}

form.column > * {
  width: 100%;
}

form.m {
  width: min(var(--form-size-m), 90%);
  margin-top: var(--spacing-xxxl);
}
