{% extends "page-with-nav.html" %}

{% import "partials/asset-list.html" as asset_list %}

{% block head %}
<title>New transaction</title>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-2 mx-auto w-full max-w-screen-md px-2 py-4">
  <h1 class="heading-1">New transaction</h1>
  <hr class="border-t-2 border-dashed py-1" />
  {% if
    csrf_token.is_none() ||
    own_accounts.is_none() ||
    other_accounts.is_none() ||
    other_users.is_none() ||
    assets.is_none() ||
    preset.is_none()
  %}
  <section class="card bg-danger text-danger-contrast">
    Something went wrong while loading this page. Please try again later.
  </section>
  {% endif %}
  {% if let Some(csrf_token) = csrf_token %}
  {% if let Some(own_accounts) = own_accounts %}
  {% if let Some(other_accounts) = other_accounts %}
  {% if let Some(other_users) = other_users %}
  {% if let Some(assets) = assets %}
  {% if let Some(fpreset) = preset %}
  <form class="flex flex-col gap-2" method="POST" action="/new-transaction">
    <!-- essential details -->
    <section class="card grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-4">
      <!-- Note -->
      <div class="flex flex-col gap-1 col-span-1 md:col-span-2">
        <label for="note" class="label">Note:</label>
        <input id="note" name="note" class="input" type="text" placeholder="Note.." minlength="1" maxlength="200"
          required />
      </div>
      <!-- Credit Account -->
      <div class="flex flex-col gap-1">
        <label for="credit-account" class="label">Credit account:</label>
        <input name="create_credit_account" type="text" value="{{fpreset.new_credit}}" hidden />
        {% if !fpreset.new_credit %}
        <select id="credit-account" name="credit_account" class="input" required>
          {% call account_options(fpreset.credit_account) %}
        </select>
        <span>
          <a class="link text-sm" href="/new-transaction?preset[new-credit]=true&preset[new-debit]=false&preset[multi-asset]={{fpreset.multi_asset}}">
            Need a new account?
          </a>
        </span>
        {% else %}
        <input id="credit-account" name="credit_account" class="input" placeholder="New credit account name.."
          minlength="1" maxlength="200" required />
        <span>
          <a class="link text-sm"
            href="/new-transaction?preset[new-credit]=false&preset[new-debit]={{fpreset.new_debit}}&preset[multi-asset]={{fpreset.multi_asset}}">
            Prefer selecting from existing accounts?
          </a>
        </span>
        {% endif %}
      </div>
      <!-- Debit Account -->
      <div class="flex flex-col gap-1">
        <label for="debit-account" class="label">Debit account:</label>
        <input name="create_debit_account" type="text" value="{{fpreset.new_debit}}" hidden />
        {% if !fpreset.new_debit %}
        <select id="debit-account" name="debit_account" class="input" required>
          {% call account_options(fpreset.debit_account) %}
        </select>
        <span>
          <a class="link text-sm" href="/new-transaction?preset[new-credit]=false&preset[new-debit]=true&preset[multi-asset]={{fpreset.multi_asset}}">
            Need a new account?
          </a>
        </span>
        {% else %}
        <input id="debit-account" name="debit_account" class="input" placeholder="New debit account name.."
          minlength="1" maxlength="200" required />
        <span>
          <a class="link text-sm"
            href="/new-transaction?preset[new-credit]={{fpreset.new_credit}}&preset[new-debit]=false&preset[multi-asset]={{fpreset.multi_asset}}">
            Prefer selecting from existing accounts?
          </a>
        </span>
        {% endif %}
      </div>
      {% if fpreset.multi_asset %}
      <!-- Credit Asset -->
      <div class="flex flex-col gap-1">
        <label for="credit-asset" class="label">Credit asset:</label>
        <select id="credit-asset" name="credit_asset" class="input">
          {% call asset_list::assets(fpreset.credit_asset) %}
        </select>
      </div>
      <!-- Credit Amount -->
      <div class="flex flex-col gap-1">
        <label for="credit-amount" class="label">Credit amount:</label>
        <input id="credit-amount" name="credit_amount" class="input" type="number" placeholder="Credit amount.."
          step="0.0001" min="0.0001" required />
      </div>
      <!-- Debit Asset -->
      <div class="flex flex-col gap-1">
        <label for="debit-asset" class="label">Debit asset:</label>
        <select id="debit-asset" name="debit_asset" class="input">
          {% call asset_list::assets(fpreset.credit_asset) %}
        </select>
      </div>
      <!-- Debit Amount -->
      <div class="flex flex-col gap-1">
        <label for="debit-amount" class="label">Debit amount:</label>
        <input id="debit-amount" name="debit_amount" class="input" type="number" placeholder="Debit amount.."
          step="0.0001" min="0.0001" required />
      </div>
      {% else %}
      <!-- Asset -->
      <div class="flex flex-col gap-1">
        <label for="asset" class="label">Asset:</label>
        <select id="asset" name="asset" class="input">
          {% call asset_list::assets(fpreset.asset) %}
        </select>
      </div>
      <!-- Amount -->
      <div class="flex flex-col gap-1">
        <label for="amount" class="label">Amount:</label>
        <input id="amount" name="amount" class="input" type="number" placeholder="Amount.." step="0.0001" min="0.0001"
          required />
      </div>
      {% endif %}
      <!-- Multi-asset switch -->
      {% if fpreset.multi_asset %}
      <span class="text-center col-span-1 md:col-span-2">
        <a class="link text-sm"
          href="/new-transaction?preset[new-credit]={{fpreset.new_credit}}&preset[new-debit]={{fpreset.new_debit}}&preset[multi-asset]=false">
          Creating a single-asset transaction?
        </a>
      </span>
      {% else %}
      <span class="text-center col-span-1 md:col-span-2">
        <a class="link text-sm"
          href="/new-transaction?preset[new-credit]={{fpreset.new_credit}}&preset[new-debit]={{fpreset.new_debit}}&preset[multi-asset]=true">
          Creating a multi-asset transaction?
        </a>
      </span>
      {% endif %}
      <!-- Date -->
      <div class="flex flex-col gap-1 col-span-1 md:col-span-2">
        <label for="timestamp" class="label">Date and time:</label>
        <input id="timestamp" name="timestamp" class="input" type="datetime-local" value="{{fpreset.timestamp}}"
          required />
      </div>
    </section>
    <!-- actions -->
    <section class="card flex justify-end gap-2">
      <a href="/transactions" class="button button-outlined button-lg">Cancel</a>
      <button class="button button-lg" type="submit">Create</button>
    </section>
    <input name="csrf" value="{{ csrf_token.id }}" hidden />
  </form>
  {% if let Some(error) = error %}
  <section class="card bg-danger text-danger-contrast">
    {% match error %}
    {% when TransactionCreationError::InvalidNote %}
    Oops! Your transaction must include a note to proceed. Please make sure to specify a valid note
    and try again.
    {% when TransactionCreationError::AccountsNotOwned %}
    Uh-oh! To complete the transaction, you need to own at least one debit or credit account. Please ensure you have the
    necessary account and try again.
    {% when TransactionCreationError::MatchingAccounts %}
    Oops! It seems you've used the same account for both debit and credit. Please provide different accounts and try
    again.
    {% when TransactionCreationError::MissingCreditAccount %}
    Oops! Your transaction must include a credit account to proceed. Please make sure to specify a valid credit account
    and try again.
    {% when TransactionCreationError::MissingDebitAccount %}
    Oops! Your transaction must include a debit account to proceed. Please make sure to specify a valid debit account
    and try again.
    {% when TransactionCreationError::MissingCreditAsset %}
    Oops! Your transaction must include a credit asset to proceed. Please make sure to specify a valid credit asset and
    try again.
    {% when TransactionCreationError::MissingDebitAsset %}
    Oops! Your transaction must include a debit asset to proceed. Please make sure to specify a valid debit asset and
    try again.
    {% when TransactionCreationError::InvalidCreditAsset %}
    Oops! The specified credit asset is invalid. Please double-check your selection and ensure it is a valid credit
    asset before proceeding with the transaction.
    {% when TransactionCreationError::InvalidDebitAsset %}
    Oops! The specified debit asset is invalid. Please double-check your selection and ensure it is a valid debit
    asset before proceeding with the transaction.
    {% when TransactionCreationError::MissingCreditAmount %}
    Oops! Your transaction must include a credit amount to proceed. Please make sure to specify a valid credit amount
    and try again.
    {% when TransactionCreationError::MissingDebitAmount %}
    Oops! Your transaction must include a debit amount to proceed. Please make sure to specify a valid debit amount and
    try again.
    {% when TransactionCreationError::InvalidCreditAmount %}
    Oops! Your transaction must include a positive credit amount to proceed. Please make sure to specify a valid credit
    amount and try again.
    {% when TransactionCreationError::InvalidDebitAmount %}
    Oops! Your transaction must include a positive debit amount to proceed. Please make sure to specify a valid debit
    amount and try again.
    {% when TransactionCreationError::InvalidCsrf %}
    Seems like your session expired. Please try again later.
    {% when TransactionCreationError::Unknown %}
    Something went wrong. Please try again later.
    {% endmatch %}
  </section>
  {% endif %} <!-- if let Some(preset) = preset -->
  {% endif %} <!-- if let Some(error) = error -->
  {% endif %} <!-- if let Some(assets) = assets -->
  {% endif %} <!-- if let Some(other_users) = other_users -->
  {% endif %} <!-- if let Some(other_accounts) = other_accounts -->
  {% endif %} <!-- if let Some(own_accounts) = own_accounts -->
  {% endif %} <!-- if let Some(csrf_token) = csrf_token -->
</div>
{% endblock %}

<!-- macro to construct account options -->
{% macro account_options(preset) %}
<optgroup label="My accounts">
  {% for account in own_accounts %}
  <option value="{{account.id}}" {% if preset==account.id %}selected{% endif %}>{{account.name}}
  </option>
  {% endfor %}
</optgroup>
<optgroup label="Other users">
  {% for user in other_users %}
  <option value="{{user.id}}">{{user.email}}</option>
  {% endfor %}
</optgroup>
<optgroup label="Other accounts">
  {% for account in other_accounts %}
  <option value="{{account.id}}">{{account.name}}</option>
  {% endfor %}
</optgroup>
{% endmacro %}